.page-header{
    display: flex;
    margin: 0 0 20px;
    padding: 1%;
    background-color: whitesmoke;
    border-bottom: 1px solid #ccc;
}
.page-header-left{
    flex: 0 0 75%;
}
.page-header-right{
    flex: 1;
    text-align: right;
    margin-top: 40px;
}
.about-Link{
    margin-left: 1%;
}
#container{
    padding: 3%;
}
.link-lable{
    color: green;
    margin: 0 0 0 3%;
    padding: 0;
}
#todo{
    display: none;
}
.input-text{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.result-area{
    min-height: 34px;
    height: auto;
}